.backgreen {
    background: green;
    padding: 30px;
}

table {
    border-color: black;
    border: 10;
    width: 500;
    height: 500; 
}

table, td, tr {
    border: 2px #000000 solid; 
}

.circle0 {
    width: 30;
    height: 30;
    border-radius: 50%;
    background: black;
    margin: auto;
}

.circle1 {
    width: 30;
    height: 30;
    border-radius: 50%;
    background: white;
    margin: auto;
}
