.backgreen {
    background: green;
    padding: 30px;
}

table {
    border-color: black;
    border: 10;
    width: 600;
    height: 600; 
}

table, td, tr {
    border: 3px #000000 solid; !important
}

.circle0 {
    border-radius: 50%;
    background: black;
    margin: auto;
}

.circle1 {
    border-radius: 50%;
    background: white;
    margin: auto;
}
