.green {
    color: green;
}

.back_green {
    background: green;
}

.mgr {
    margin: 20px;
}

.kosakana_L {
    float: left;
}

.kosakana_R {
    float: right;
}

.none {
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
}
