body {
    background-color: black;
}

.wrap-video{
    text-align:center;
}

.wrap-video video{
    width: 50%;
    height:100%;
}

.wrap-video .text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); /*上下左右中央寄せ*/
    text-align:center;
}

.wrap-video .text p{
    font-size:32px;
    font-weight:bold;
    color:red;
}

.wrap-video .text .headline{
    font-size:64px;
    color:red;
}